# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air_bnb = pd.read_csv('C:\\Users\\saman\\OneDrive\\Documents\\Coding Temple Work\\AB_NYC_2019 - AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [8]:
# How many neighborhood groups are available and which shows up the most?
unique_groups = air_bnb['neighbourhood_group'].unique()

group_counts = air_bnb['neighbourhood_group'].value_counts()

most_common = group_counts = group_counts.idxmax()

print(f"There are {len(unique_groups)} neighbourhood groups")
print(f"The most common neighbourhood group is {most_common}")

There are 5 neighbourhood groups
The most common neighbourhood group is Manhattan

In [11]:
# Are private rooms the most popular in manhattan?
manhattan_data = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']

room_type = manhattan_data['room_type'].value_counts()

most_popular = room_type.idxmax()

print(f"The most popular type of room in Manhattan is not the private room, its the {most_popular}.")

The most popular type of room in Manhattan is not the private room, its the Entire home/apt.

In [15]:
# Which hosts are the busiest and based on their reviews?
busiest_host = air_bnb.sort_values(by = 'number_of_reviews', ascending=False)

top_host = busiest_host[['host_id', 'host_name', 'number_of_reviews']]
print(f"The busiest hosts based on their number of reviews are:")
print(f"\n{top_host.head()}")

The busiest hosts based on their number of reviews are:

        host_id host_name  number_of_reviews
11759  47621202      Dona                629
2031    4734398        Jj                607
2030    4734398        Jj                597
2015    4734398        Jj                594
13495  47621202      Dona                576

In [16]:
#Which neighorhood group has the highest average price?
average_price = air_bnb.groupby('neighbourhood_group')['price'].mean()

highest_average = average_price.idxmax()
print(f"The neighbourhood group with the highest average price is {highest_average}.")

The neighbourhood group with the highest average price is Manhattan.

In [17]:
# Which neighbor hood group has the highest total price?
total_price = air_bnb.groupby('neighbourhood_group')['price'].sum()

highest_total_price = total_price.idxmax()

highest_total_value = total_price.max()

print(f"The neighbourhood group with the highest total price is {highest_total_price} with a total value of ${highest_total_value}.")

The neighbourhood group with the highest total price is Manhattan with a total value of $4264527.

In [22]:
#Which top 5 hosts have the highest total price?
priceByHost = air_bnb.groupby(['host_id', 'host_name'])['price'].sum()
priceByHost = priceByHost.reset_index()

sorted_hosts = priceByHost.sort_values(by = 'price', ascending=False)

top5 = sorted_hosts.head(5)

print("The top 5 hosts with the highest total price are")
print(top5[['host_name', 'price']])

The top 5 hosts with the highest total price are
          host_name  price
34629  Sonder (NYC)  82795
29393    Blueground  70331
32054         Sally  37097
34034    Red Awning  35294
19564          Kara  33581

In [24]:
# Who currently has no (zero) availability with a review count of 100 or more?
busy_hosts = air_bnb[(air_bnb['availability_365'] == 0) & (air_bnb['number_of_reviews'] >= 100)]

print("The hosts with 0 availabilty and 100 or more reviews are:")
print(busy_hosts[['host_id', 'host_name', 'availability_365', 'number_of_reviews']])

The hosts with 0 availabilty and 100 or more reviews are:
         host_id   host_name  availability_365  number_of_reviews
8           7490   MaryEllen                 0                118
94         79402  Christiana                 0                168
132       129352         Sol                 0                193
174       193722       Coral                 0                114
180        67778        Doug                 0                206
...          ...         ...               ...                ...
29581  127740507    Kathleen                 0                103
30461  176185168       Janet                 0                119
31250   21074914      Albert                 0                102
32670   40119874    Stephany                 0                131
35014  209549523     Mariluz                 0                112

[162 rows x 4 columns]

In [27]:
# What host has the highest total of prices and where are they located?
total_host_price = air_bnb.groupby(['host_id', 'host_name', 'neighbourhood_group', 'neighbourhood'])['price'].sum()
total_host_price = total_host_price.reset_index()

highest_total_host = total_host_price.loc[total_host_price['price'].idxmax()]

print("The host with the highest total price is:")
print(highest_total_host[['host_id', 'host_name', 'price', 'neighbourhood', 'neighbourhood_group']])

The host with the highest total price is:
host_id                         219517861
host_name                    Sonder (NYC)
price                               57738
neighbourhood          Financial District
neighbourhood_group             Manhattan
Name: 35431, dtype: object

In [31]:
# When did Danielle from Queens last receive a review?
danielles_reviews = air_bnb[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group'] == 'Queens')]

if not danielles_reviews.empty:
    danielles_reviews.loc[:, 'last_review'] = pd.to_datetime(danielles_reviews['last_review'], errors='coerce')
    danielles_reviews = danielles_reviews.dropna(subset=['last_review'])
    
newest_review = danielles_reviews['last_review'].max()
print(f"Danielle from Queens last had a review on {newest_review}")

Danielle from Queens last had a review on 2019-07-08 00:00:00

C:\Users\saman\AppData\Local\Temp\ipykernel_18536\1219576504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  danielles_reviews.loc[:, 'last_review'] = pd.to_datetime(danielles_reviews['last_review'], errors='coerce')
C:\Users\saman\AppData\Local\Temp\ipykernel_18536\1219576504.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  danielles_reviews.loc[:, 'last_review'] = pd.to_datetime(danielles_reviews['last_review'], errors='coerce')

## Further Questions

1. Which host has the most listings?

In [32]:
most_listings = air_bnb.loc[air_bnb['calculated_host_listings_count'].idxmax()]

print("The host with the most listings is:")
print(most_listings[['host_id', 'host_name', 'calculated_host_listings_count']])

The host with the most listings is:
host_id                              219517861
host_name                         Sonder (NYC)
calculated_host_listings_count             327
Name: 38293, dtype: object

2. How many listings have completely open availability?

In [34]:
open_availability = air_bnb[air_bnb['availability_365'] == 365]

number_of_available = len(open_availability)

print(f"There are {number_of_available} listings that have completely open availability.")

There are 1295 listings that have completely open availability.

3. What room_types have the highest review numbers?

In [37]:
room_type_reviews = air_bnb.groupby('room_type')['number_of_reviews'].sum()

sorted_rooms = room_type_reviews.sort_values(ascending=False)

highest_reviewed = sorted_rooms.head(5)

print(f"These room types have the highest review numbers \n {highest_reviewed}")

These room types have the highest review numbers
 room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:
Based off of the data its clear that Manhattan is both the most popular and most expensive Neighbourhood for Airbnbs, with the most popular type of room being the entire home/apt, and a shared room being the least popular.